---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca del sitio">
  <h1 class="text-4xl text-red-400">About</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate
    distinctio mollitia id aut aliquam. Aliquam, dolore voluptatem. Facilis nemo
    dolor aut inventore velit maxime iusto! Itaque sit alias accusamus,
    quibusdam aliquid sunt sed iure magnam quos, dolorem aspernatur ea ullam
    aliquam tempore nostrum dolore sapiente minus mollitia qui omnis molestias
    vel pariatur nihil! Sapiente dolorem aliquam odit asperiores quam corporis
    quidem soluta consectetur voluptatem repellat. Numquam, molestiae sed?
    Aliquam, veritatis distinctio, aut laborum, aperiam minus assumenda quo esse
    corrupti ullam adipisci porro natus. Mollitia voluptates, facere sunt quo ut
    nisi esse maiores. Provident sit quidem expedita odit, asperiores ex fugit.
  </p>
</Layout>
