---
interface Props {
  title: string;
}

import "../styles/Layout.css";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fazt Landing Page - {title}</title>
  </head><body>
    <main class="mx-auto container bg-black md:pt-10">
      <slot />
      <Footer />
    </main>
  </body>
</html>
